*
        {
        padding:0;
        margin:0;
        font-size: 100%;
        line-height: 1em;
        }
    
body 
        {
        color: #DBDADA;
        text-align: center;
        }
    
h1 
        {
        font-size: 100px;
        text-transform: uppercase;
        letter-spacing: 13px; 
        font-family: "Amatic SC";
        font-weight: normal;
        margin: 20% 25%;
        font-weight: 700;
        z-index: 1px;
        position: absolute;
        
        }

#one
        {
        font-size: 30px;
        letter-spacing: 5px; 
        line-height: 1.35em;
        font-family: "Amatic SC";
        font-weight: normal;
        padding-bottom: 10px;
        margin:-104% 10% 0% 10%;
        font-weight: 400;
        z-index: 1px;
        position: absolute;
        color: #353535;
        }
#two
        {
        font-size: 30px;
        letter-spacing: 5px; 
        line-height: 1.35em;
        font-family: "Amatic SC";
        font-weight: normal;
        padding-bottom: 10px;
        margin:-91% 10% 0% 10%;
        font-weight: 400;
        z-index: 1px;
        position: absolute;
        color: #353535;
        }
#three
        {
        font-size: 30px;
        letter-spacing: 5px; 
        line-height: 1.35em;
        font-family: "Amatic SC";
        font-weight: normal;
        padding-bottom: 10px;
        margin:-65% 10% 0% 10%;
        font-weight: 400;
        z-index: 1px;
        position: absolute;
        color: #353535;
        }

#four
        {
        font-size: 70px;
        letter-spacing: 5px; 
        line-height: 1.35em;
        font-family: "Amatic SC";
        font-weight: normal;
        padding-bottom: 10px;
        margin:-40% 10% 0% 35%;
        font-weight: 400;
        z-index: 1px;
        position: absolute;
        color: #353535;
        }
img

{
width: 100%;
}
