*
        {
        padding:0;
        margin:0;
        font-size: 100%;
        line-height: 1em;
        }
    
body 
        {
        background-color:#404041; 
        color: white;
        text-align: center;
    
        }
    
h1 
        {
        font-size: 30px;
        text-transform: uppercase;
        line-height: 1.35em;
        font-family: "Anonymous Pro";
        font-weight: normal;
        margin: 10px 0 10px 0;
        color: #DBDADA;
        }

#menu { 
	width: 100%;
    background-color: black;
    opacity: 0.6;
	height: auto;
	position: fixed;
	margin-top: 0px;
    min-width: auto;
	max-width: 600px;
    z-index: 100;
    padding: 1% 29%;
}
#menu ul 

    {
    list-style: none;
	display: block;
	margin: auto;
	list-style: none;
    width: 800px;
    margin: 0% 10%
    }

#menu li
    
    {
    color: #DBDADA;
    font-family:"helvetica";
    list-style: none;
    float:right;
    margin: 1% 2%;
    
    }
    
    #menu li a {
    
    color: #DBDADA;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
        
    }
    
    #menu li a:hover { 
    color: #fff;
        
    }

.blank

{
        position:relative;
        padding: 1% 0% 3% 0%;
        background: #97A371;
        max-width: 100%;
}

.bee
{
width: 20%;
margin: -5% 0% 10% -10%;
position: absolute;
}

.part1
{
width: 100%
}

.eye1

{
        width: 12.4%;
        position: absolute;
        z-index: 2;
        margin: -36.7% -15.3%;
        display: inline-block;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: -webkit-transform;
        transition-property: transform;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1xpx rgba(0, 0, 0, 0);
        }
        
        .eye1:hover 
        {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        }

.eye2

{
        width: 16.5%;
        position: absolute;
        z-index: 2;
        margin: -43.7% -37.5%;
        display: inline-block;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: -webkit-transform;
        transition-property: transform;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1xpx rgba(0, 0, 0, 0);
        }
        
        .eye2:hover 
        {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        }

.eye3

{
        width: 16.5%;
        position: absolute;
        z-index: 2;
        margin: -45.7% 1.5%;
        display: inline-block;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: -webkit-transform;
        transition-property: transform;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1xpx rgba(0, 0, 0, 0);
        }
        
        .eye3:hover 
        {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        }



#hundred

{
font-family:"Anonymous Pro";
position: absolute;
font-size: 250px;
z-index: 1;
margin: -79% 23%;
color: #DBDADA
}

#years

{
font-family:"helvetica";
position: absolute;
font-size: 100px;
z-index: 1;
margin: -63% 24.5%;
color: #404041
}

#of

{
font-family:"Anonymous Pro";
position: absolute;
font-size: 90px;
z-index: 1;
margin: -70% 53%;
color: #404041
}

#paul

{
font-family:"Helvetica";
position: absolute;
font-size: 118px;
z-index: 1;
margin: -64.1% 0% 0% 49.9%;
color: #DBDADA
}


p
        {
        font-family:"Helvetica";
        letter-spacing: 2px;
        padding: 10px;
        line-height: 1.7em;
        margin: 10% 5% 0% 5%;
        font-size:20px;
        text-align: justify;
        letter-spacing: 0.01em;
        color: #DBDADA;
        }

    

.paul
        {
        position:relative;
        padding: 10px 10px 160px 10px;
        background: #404041;
        max-width: 100%;
        }



.year
{
        position:relative;
        padding: 10px 10px 13px 10px;
        background: #404041;
        max-width: 100%;
}



#title

{
font-family:helvetica;
position: absolute;
font-size: 50px;
z-index: 1;
margin: -18% 20% 0% 0%;
color: #DBDADA;
line-height: 1.7em;
}

#hundred-years

{
font-family:"helvetica";
position: absolute;
font-size: 30px;
z-index: 1;
margin: -14% 5%;
color: #DBDADA;
}

#prove

{
font-family:"helvetica";
position: absolute;
font-size: 30px;
z-index: 1;
margin: -8% 5%;
color: #DBDADA;
}

.circles
{
width: 100%;
position: absolute;
z-index: 1;
margin: 0% 0% 0% -50%;
}

.eye
{width: 12.4%;
position: absolute;
z-index: 1;
margin: 9.6% -6.1%;
 display: inline-block;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: -webkit-transform;
        transition-property: transform;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        }
        
        .eye:hover 
        {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        }

.quote
        {
        position:relative;
        padding: 18% 10% 8% 10%;
        background: #A1BCBF;
        max-width: 100%;
        }

.triangle

{
width: 100%;    
position: absolute;
z-index: 1;
margin: -15% -50%;
}

.section-one
        {
        position:relative;
        padding: 10% 0% 10% 0%;
        max-width: 110%;
        }
#rand
{
font-size: 80px;
font-family: "helvetica";
color: #C4A7A7;
margin:0% 150% 5% 6%;
font-weight:700;

}

#one

{
font-size: 20px;
color: #DBDADA;
letter-spacing: 0.01em;
line-height: 1.7em;
margin: 15% 15%;
}

#two

{
font-size: 20px;
color: #DBDADA;
letter-spacing: 0.01em;
line-height: 1.7em;
margin: -13% 15%;
}

#three

{
font-size: 20px;
color: #DBDADA;
letter-spacing: 0.01em;
line-height: 1.7em;
margin: 15% 15%;
}

#four

{
font-size: 20px;
color: #DBDADA;
letter-spacing: 0.01em;
line-height: 1.7em;
margin: -13% 15%;
}


.the-typeface
        {
        position:relative;
        padding: 1% 5% 6% 5%;
        background: #EEAEAB;
        max-width: 100%;
        color:#404041
        }

.section2
        {
        position:relative;
        padding: 10px 10px 10px 10px;
        background: ;
        max-width: 100%;
        }


blockquote

        {
        padding-top:60px ;
        color:#fff;
        font-size: 50px;
        font-family: baskerville;
        text-align: center;
        margin: 2% 150px;
        }

cite

        {
        font-size: 20px;
        margin: 10%;
        }

.triangle2

{
width:100%;
position: absolute;
margin: 10% 0% 0% -50%;
}

.career

{

background:#dbdada;
color: #404041;
padding-top: 5%;
margin-top: 25%;
padding-bottom:50%;
    
}



.eye4
{
width: 12%;
}

.eye5
{
width: 12%;
}

.eye6
{
width: 12%;
}

.eye7
{
width: 12%;
}

.eye8
{
width: 12%;
}

.eye9
{
width: 12%;
}

#five
{
color:#404041;
margin: 5% 15% -10% 15%;
}

#six
{
color:#404041;
margin: 12% 15% -10% 15%;
}

#seven
{
color:#404041;
margin: 12% 15% -10% 15%;
}

.bees

{
width: 100%;
position: absolute;
margin: 3% -50%;

}
   
#eight
{
margin: 3% 10%;
}

.mag

{
margin: 5% 0% 5% 0%;

}


.ref
{
width: 30%;
margin:5% 0%;

}

.circles2
{
width: 100%;
position: absolute;
z-index: 1;
margin: -20% 0% 0% -50%;
}


.quote2
        {
        position:relative;
        padding: 15% 10% 10% 10%;
        background: #C4A7A7;
        max-width: 100%;
        }

.triangle-1

{
width: 100%;    
position: absolute;
z-index: 1;
margin: -15% -50%;
}

#nine
{
font-size: 20px;
color: #DBDADA;
letter-spacing: 0.01em;
line-height: 1.7em;
margin: 3% 15%;
}

#ten
{
font-size: 20px;
color: #DBDADA;
letter-spacing: 0.01em;
line-height: 1.7em;
margin: 2% 15%;
}

#eleven
{
font-size: 20px;
color: #DBDADA;
letter-spacing: 0.01em;
line-height: 1.7em;
margin: 2% 15%;
}

#twelve
{
font-size: 20px;
color: #DBDADA;
letter-spacing: 0.01em;
line-height: 1.7em;
margin: 2% 15%;
}

.circle3
{
width: 100%;
position: absolute;
z-index: 1;
margin: -18% 0% 0% -50%;
}

.quote3
        {
        position:relative;
        padding: 15% 0% 10% 0%;
        background: #A1BCBF;
        max-width: 100%;
        }

.triangle-2

{
width: 100%;    
position: absolute;
z-index: 1;
margin: -15% -50%;
}

.footer
  
        {
        margin: 0 40px 0 40px;
        position:relative;
        padding: 10px 10px 50px 10px;
        background: #F69C00;
        max-width: 100%;
        }



#thirteen
{font-size: 20px;
color: #404041;
letter-spacing: 0.01em;
line-height: 1.7em;
margin: 2% 15%;}

#forteen
{font-size: 20px;
color: #404041;
letter-spacing: 0.01em;
line-height: 1.7em;
margin: 2% 15%;}

#fifteen
{font-size: 20px;
color: #404041;
letter-spacing: 0.01em;
line-height: 1.7em;
margin: 2% 15%;}

.box

        {
        position:relative;
        padding: 10px 10px 300px 10px;
        background: #DBDADA;
        max-width: 100%;
        }

.bee2

{
width: 20%;
margin: 1% 0% 10% -10%;
position: absolute;
}

.end

{
        position:relative;
        padding: 5% 10% 5% 10%;
        background: #97A371;
        max-width: 100%;
        }