*
        {
        padding:0;
        margin:0;
        font-size: 100%;
        line-height: 1em;
        }
    
body 
        {
        background-color:#404041; 
        color: white;
        text-align: center;
        }
    
h1 
        {
        font-size: 30px;
        text-transform: uppercase;
        line-height: 1.35em;
        font-family: "Anonymous Pro";
        font-weight: normal;
        margin: 10px 0 10px 0;
        color: #DBDADA;
        }
.bee
{
width: 60%;
}

.part1
{
width: 100%
}


#hundred

{
font-family:"Anonymous Pro";
position: absolute;
font-size: 250px;
z-index: 1;
margin: -79% 23%;
color: #DBDADA
}

#years

{
font-family:"helvetica";
position: absolute;
font-size: 100px;
z-index: 1;
margin: -63% 24.5%;
color: #404041
}

#of

{
font-family:"Anonymous Pro";
position: absolute;
font-size: 90px;
z-index: 1;
margin: -70% 53%;
color: #404041
}

#paul

{
font-family:"Helvetica";
position: absolute;
font-size: 118px;
z-index: 1;
margin: -64.1% 0% 0% 49.9%;
color: #DBDADA
}


p
        {
        font-family:"Baskerville";
        letter-spacing: 2px;
        padding: 10px;
        line-height: 1.35em;
        margin: 2% 10% 2% 10%;
        font-size:17px;
        text-align: justify;
        }

    

.paul
        {
        position:relative;
        padding: 10px 10px 160px 10px;
        background: #404041;
        max-width: 100%;
        }



.year
{
        position:relative;
        padding: 10px 10px 13px 10px;
        background: #404041;
        max-width: 100%;
}



.section-one
        {
        position:relative;
        padding: 10% 0% 10% 0%;
        background: #;
        max-width: 110%;
        }

#title

{
font-family:"helvetica";
position: absolute;
font-size: 30px;
z-index: 1;
margin: -20% 5%;
color: #DBDADA;
}

#hundred-years

{
font-family:"helvetica";
position: absolute;
font-size: 70px;
z-index: 1;
margin: -14% 5%;
color: #C4A7A7;
}

#prove

{
font-family:"helvetica";
position: absolute;
font-size: 30px;
z-index: 1;
margin: -5% 5%;
color: #DBDADA;
}

.circles
{
width: 100%;
position: absolute;
z-index: 1;
margin: 0% 0% 0% -50%;
}

.quote
        {
        position:relative;
        padding: 18% 10% 8% 10%;
        background: #A1BCBF;
        max-width: 100%;
        }


.the-typeface
        {
        position:relative;
        padding: 1% 5% 6% 5%;
        background: #EEAEAB;
        max-width: 100%;
        color:#404041
        }

.section2
        {
        position:relative;
        padding: 10px 10px 10px 10px;
        background: ;
        max-width: 100%;
        }


blockquote

        {
        padding-top:60px ;
        color:#fff;
        font-size: 50px;
        font-family: baskerville;
        text-align: center;
        margin: 0 150px;
        }

cite

        {
        font-size: 15px;
        }


        
.quote2
        {
        position:relative;
        padding: 5% 10% 10% 10%;
        background: #C4A7A7;
        max-width: 100%;
        }

.quote3
        {
        position:relative;
        padding: 10px 10px 120px 10px;
        background: #A1BCBF;
        max-width: 100%;
        }


.footer
  
        {
        margin: 0 40px 0 40px;
        position:relative;
        padding: 10px 10px 50px 10px;
        background: #F69C00;
        max-width: 100%;
        }

.box

        {
        position:relative;
        padding: 10px 10px 10px 10px;
        background: #404041;
        max-width: 100%;
        }

.end

{
        position:relative;
        padding: 5% 10% 5% 10%;
        background: #97A371;
        max-width: 100%;
        }